backend/tmp/
backend/*.exe
backend/*.test
backend/__debug_bin

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/
frontend/.env.local

#ОБЩЕЕ 
.env
.env.local
.env.*.local
*.log
.DS_Store
Thumbs.db

#IDE
.vscode/
.idea/
*.swp
*.swo
